In [1]:
print("Hello World")

Hello World

In [7]:
# with argument and with return value
def square(a):
  return a**2

x= int(input("Enter a number: "))
print(square(x))
a = square(25.2)
print(a);

Enter a number: 229
52441
635.04

In [10]:
# without argument and without return value
def square():
  x= int(input("Enter a number: "))
  print(x**2)

square()

Enter a number: 229
52441

In [11]:
# without argument and with return value
def square():
  x= int(input("Enter a number: "))
  return x**2

print(square())

Enter a number: 229
52441

In [13]:
# with argument and without return value
def square(x):
  print(x**2)

square(int(input("Enter a number: ")))

Enter a number: 229
52441

In [23]:
def test(a,b,c,d):
  return a,b,c,d

x,y,z,w = test(1,2,3,4)
print(x,y,z,w)
print(type(x))
print(type(y))
print(type(z))
print(type(w))

x= test(1,2,3,4)
print(x)
print(type(x))

1 2 3 4
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
(1, 2, 3, 4)
<class 'tuple'>

In [35]:
def test1():
  l1 = [10, 20, 30,40]
  t1 = ( 60,70,80)
  return l1, t1

u = test1()

print(u)

print(type(u))

([10, 20, 30, 40], (60, 70, 80))
<class 'tuple'>

In [36]:
def func1(a,b,c,d):
  return a,b,c,d

_,val2,_,val4 = func1(10,20,30,40)
print(val2, val4)

20 40